@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200;300;400;500;600;700;800&family=League+Gothic&family=Montserrat:wght@400;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Quicksand&family=Raleway&family=Roboto+Mono&family=Roboto+Slab&family=Rubik:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-circle-container {
    position: relative;
  }
  
.custom-circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight:600;
    color: black;
}

.highs{
    @apply flex flex-col justify-between bg-boss p-2 rounded-md drop-shadow-md relative h-36;
}

.highs-title{
    @apply absolute top-0 left-1 right-0 bottom-0 text-xs lg:text-sm;
}

.alltran{
    @apply transition duration-1000 ease-in-out;
}

.insideCardDes{
    @apply flex flex-col justify-evenly lg:flex-row lg:justify-around items-center h-full;
}
  